<div class="container">
  <div class="listHeader">
    <h3 class="text-left">Listagem de Produtos</h3>
    <form class="form-inline text-right">
      <div class="form-group mx-sm-3 mb-2">
        <label for="search-query" class="sr-only">Password</label>
        <input
          type="text"
          class="form-control"
          id="search-query"
          name="search-query"
          placeholder="Buscar"
          [(ngModel)]="searchQuery"
        />
      </div>
      <button
        type="submit"
        class="btn btn-outline-secondary mb-2"
        (click)="searchProduct()"
      >
        Buscar
      </button>
    </form>
  </div>

  <table *ngIf="response" class="table">
    <thead class="thead-dark">
      <tr>
        <th class="col-1 text-center" scope="col">#</th>
        <th scope="col">Nome</th>
        <th class="col-2 text-center" scope="col">Ações</th>
      </tr>
    </thead>
    <tbody *ngFor="let product of response.result">
      <tr>
        <td class="col-1 text-center">
          {{ product.id }}
        </td>
        <td>
          {{ product.name }}
        </td>
        <td class="text-center">
          <a routerLink="/products/update/{{ product.id }}">
            <button class="btn btn-warning btn-sm">
              <i class="fa fa-pencil-square-o fa-inverse"></i>
            </button>
          </a>
          <a routerLink="/products/delete/{{ product.id }}">
            <button class="btn btn-danger btn-sm ml-2">
              <i class="fa fa-trash"></i>
            </button>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="response && response.result.length < 1">
    <p class="text-center">Nenhum produto foi encontrado.</p>
    <hr>
  </div>
</div>
