<div class="container">
  <div
    *ngIf="response && response.message == 'Product saved successfully'"
    class="alert alert-primary text-center col-4 mb-3"
    role="alert"
  >
      Produto cadastrado com sucesso!
  </div>
  <div *ngIf="product" class="card w-75" style="width: 24rem">
    <div class="card-header">
      <h5 class="card-title">Cadastrar Produto</h5>
      <p class="card-text">
        Forneça abaixo os dados do produto a ser cadastrado:
      </p>
    </div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="name">Nome:</label>
          <input type="email" class="form-control" id="name" name="name" [(ngModel)]="product.name">
        </div>
      </form>
    </div>
    <div class="card-footer">
      <button class="btn btn-success" (click)="Save()">Cadastrar</button>
    </div>
  </div>
</div>
